REACT_APP_FIREBASE_API_KEY=YOUR_API_KEY
REACT_APP_FIREBASE_AUTH_DOMAIN=device-platform-reporting.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=device-platform-reporting
REACT_APP_FIREBASE_STORAGE_BUCKET=device-platform-reporting.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=YOUR_MESSAGING_SENDER_ID
REACT_APP_FIREBASE_APP_ID=YOUR_APP_ID
REACT_APP_FIREBASE_MEASUREMENT_ID=YOUR_MEASUREMENT_ID
